.leftsidemenu{
  height: 100vh;
  background: #2c3e50;
  color: white;

}
.side-nav {
display: flex;
flex-direction: column;
margin-top: 70px;
}
.side-nav {
    list-style: none;
}
.side-nav li{
    margin-bottom: 20px;
}


.navbar {
    border-radius: 0;
}

.input-group-addon {
    font-size: 14px;
}

.media-object  {
    margin: 0 auto;
    width: 400px;
    height: 400px;
}